<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zoffcc.applications.avifview">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="AVIF Viewer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Libavifandroid"
        tools:replace="android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShareActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="AVIF Viewer"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.avif" />
                <data android:pathPattern=".*\\..*\\.avif" />
                <data android:pathPattern=".*\\..*\\..*\\.avif" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.avif" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.avif" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.avif" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.avif" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.avif" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.avif" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.avif" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.avifs" />
                <data android:pathPattern=".*\\..*\\.avifs" />
                <data android:pathPattern=".*\\..*\\..*\\.avifs" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.avifs" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.avifs" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.avifs" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.avifs" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.avifs" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.avifs" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.avifs" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:mimeType="image/avif" />
                <data android:host="*" />
            </intent-filter>
        </activity>
    </application>
</manifest>